*{
box-sizing:border-box;}
.home{
background-image:url(image/s51.jpg);
background-size:cover;
background-repeat:no-repeat;
}


h1,h2{
font-family: 'Lemonada', cursive;
font-size:50px;
font-weight:500;
text-align:center;
color:#EBD707;
}

.nav ul{
list-style-type:none;
clear:both;
}
.nav li{
font-family: 'Acme', sans-serif;
float:left;
text-transform:uppercase;
font-size:20px;
padding:5px 10px;
margin:0px 3px 10px 3px;
letter-spacing:1px;
border: 2px solid #8EC5FC;
border-radius:18px;
background-color: #00DBDE;
background-image: linear-gradient(45deg, #00DBDE 0%, #FC00FF 100%);
}
.nav li a{
text-decoration:none;
text-align:left;
color:white;}
.nav a:hover{
padding:5px;
color:black;
font-weight:bold;}



.carousel {
clear:both;
margin-left:10%;
margin-right:10%;
margin-bottom:2%;
}

ul.slides {
    display: block;
    position: relative;
    height: 500px;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    list-style: none;
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border: 1px solid white;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.7s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


.about{
text-align:left;
color:#60DB3B;
width:70%;
margin-bottom:60px;}
.about p{
font-family:'Alata', sans-serif;
word-spacing:0.10em;
}

footer{
font-family: 'Sriracha', cursive;
font-size:15px;
clear:both;
text-align:center;
width:100%;
height:80px;
padding:2px;
color:white;
background-color:#810000;}
